version: '2.1'

services:
  mysql8:
    image: bitnami/mysql:8.0.39
    container_name: mysql8
    restart: unless-stopped
    ports:
      - 3308:3306
    volumes:
      - data:/bitnami/mysql/data
      - logs:/opt/bitnami/mysql/logs
    environment:
      # 密码
      - MYSQL_ROOT_PASSWORD=Rongshu@2024
      - MYSQL_USER=lbs
      - MYSQL_PASSWORD=Rongshu@2024
      - MYSQL_DATABASE=test
      - TZ=Asia/Shanghai
    healthcheck:
      test: ['CMD', '/opt/bitnami/scripts/mysql/healthcheck.sh']
      interval: 15s
      timeout: 5s
      retries: 6
    mem_limit: 4g

volumes:
  data:
  logs: