version: '2.1'

services:
  es:
    image: "docker.elastic.co/elasticsearch/elasticsearch:7.5.2"
    container_name: es
    restart: unless-stopped
    ports:
      - "9200:9200"
    volumes:
      - data:/usr/share/elasticsearch/data
      - /etc/localtime:/etc/localtime:ro
    environment:
      - discovery.type=single-node
      - bootstrap.memory_lock=true
      # -Xms与-Xmx参数值要一致（最少2g）
      - "ES_JAVA_OPTS=-Xms2g -Xmx2g"
    ulimits:
      memlock:
        soft: -1
        hard: -1
    # 此限制要大于ES_JAVA_OPTS的参数1g
    mem_limit: 3g

volumes:
  data: